extends ../layout

block content
     .container
      h3 $#{totalamount} total collection
      p.subheading Make a test payment using PayPal or a card
      
      
       each user in users
        ul.collection
          li.collection-item
               h6 #{user.name} donated 
                 span $AUD#{user.amount} on #{user.time}
                             



