extends ../layout

block content
  .wrapper: .checkout.container: .content
    header
      h3 $#{totalamount} total collection
      p.subheading Make a test payment using PayPal or a card

    form#payment-form(action="/checkouts", method="post")
      section
        .bt-drop-in-wrapper
          #bt-dropin

        label(for="amount")
          span.input-label Amount($AUD)
          .input-wrapper.amount-wrapper
            input#amount(name="amount" type="tel" min="1" placeholder="Amount" value="10")
         label(for="fullName")
          span.input-label Full Name
          .input-wrapper.amount-wrapper
            input#fullName(name="fullName" placeholder="Full Name")
         label(for="email")
          span.input-label Email
          .input-wrapper.email-wrapper
            input#email(name="email" type="email" placeholder="Email")

      button.btn.waves-effect.waves-light(type="submit")
        span Donate Now

  script(src="https://js.braintreegateway.com/v2/braintree.js")
  script.
    (function () {
      var checkout = new Demo({
        formID: 'payment-form'
      });

      var token = "#{clientToken}";
      braintree.setup(token, "dropin", {
        container: "bt-dropin"
      });
    })()
